

 body, h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    margin: 10px 0;
    color: #777;
}

h3 {
   text-align: center;
   font-size: 24px;
}



/************** NAVBAR **************/
 .navbar {
    position: fixed;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    display: block;
    top:0;
    left: 0;
    
 }

 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:none;
    padding: 8px, 16px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #777;
    font-size: 15px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(230, 227, 227);
    color: #000;

  }


  /************ HOME PAGE ***********************/
  /* image (Logo. Full height) */
.landing {
    height: 100%;
    opacity: 50%;
    width: 100%;
    
  }

  .titlebanner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    background-color: #34a2fc;
    padding: 12px 24px;
    text-align: center;
    font-size: 24px;
    opacity: 90%;
    animation: opac 10;
    white-space: nowrap;
    letter-spacing: 10px;
}
  

/************* ABOUT US *******************/

.content {

    padding: 64px;
    
    
}

.row{
  width: 100%;
  height: 80px;

  
}

.row2 {
  height: 320px;

}

.row3 {
  height: 380px;

}

.column {
  width: 20%;
  float:left;
  text-align: center;
  padding-left:0 2.5%; 
  padding-right: 2.5%;

  
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


/*************** FOOTER ******************/

.footer {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #fff;
    background-color: #000;
    opacity: 0.50;
    font-size: 14px;
    height: 120pt;
    width: 100%;


}

/* .footertext {
    text-align: center;
    color: #fff;
    background-color: #000;
    opacity: 0.80;
    font-size: 16px;
    float:left;
    width: 20%;


} */

.logo1 {
    float: left;
    padding: 2px;
    width: 33%
 
    
    
}

.logo2 {
    float: left;
    padding-top: 2px;
    width: 33%;
}

/* icons only */
.socialmedia {
    color: white;
    margin-top: 16px;
    margin-bottom: 16px;
    font: normal normal normal 26px/1 FontAwesome;
    
   

} 

/* wraps around links and social media icons */
.socialmedia3 {
    float: left;
    width: 33%;

} 
/* .hoverfooter a:hover {
    color: #fff;
    background-color: #000;
  
} */


/*********media adjust ************/


@media screen and (max-width: 600px) {
      .landing, .navbar, .titlebanner, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  
  @media screen and (max-width: 600px) {
    .landing {
    width: 60%;
  }
}

/** mobile devices **/
@media only screen and (max-device-width: 480px) {
    .landing, .navbar, .titlebanner, input {
        width: 400px;
    }
}