

 body, h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    margin: 10px 0;
    color: #777;
}

h3 {
   text-align: center;
   font-size: 24px;
}

h2{
  text-align: left;
  font-size: 20px;
  font-weight: 700;

}

body {
  margin:0;

}
/* About Us Job titles */
h4 {
  text-align: center;
  font-size: 16px;
  font-weight: bolder;
}

h1 {

  color: #fff;
  font-size: 18px;
  background-color: #88abc6;
  padding: 8px 12px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  letter-spacing: 4px; 
  overflow: hidden;
  width: fit-content;
  /* width:93%; */
  margin-bottom: 10px;

}

.links{
  color: #88abc6;
  background-color: transparent;
  text-decoration: none;
  
}
.links:visited {
  color: #88abc6;
  background-color: transparent;
  text-decoration: none;
}
.links:hover {
  color: #88abc6;
  background-color: transparent;
  text-decoration: underline;
}
.links:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

/*********** OVERFLOW SCROLLBARS **************/

 /* Rescource used to customize overflow scrolling https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */

/* width */
::-webkit-scrollbar {
  width: 15px;

}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #88abc6c7;
  border-radius: 10px;
  height: 200px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #58595c; 
}


/************** HEADER **************/
.header {
  padding-top: 0px;
  opacity: 15%;
  /* padding-top: 36px; */
  overflow: hidden;
 
  
}

.headertext {
    position: absolute;
    top: 135px;
    left: 50%;
    transform: translate(-50%,-50%);
    align-items: center;
    color: #fff;
    background-color: #88abc6;
    padding: 12px 24px;
    text-align: center;
    font-size: 24px;
    white-space: nowrap;
    letter-spacing: 10px;
}
  
@media screen and (max-width: 1000px) {
  .headertext {
    display: block;
    
}
}


/************** NAVBAR **************/


  .navbar {
    overflow: hidden;
    background-color: #58595c;
    margin-top: 0;
  }
  
  .navbar a {
    float: left;
    font-size: 15px;
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    
  
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 15px;  
    border: none;
    outline: none;
    color: white;
    padding: 15px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #88abc6;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #58595c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .fa-caret-down{
    margin-left: 3px;
  }
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #88abc6;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 1000px) {
    .topnav a:not(:first-child) {display: none;
  
   }
    .topnav button{display: none;}
    .topnav a.icon {
      float: right;
      display: block;
      font-size:x-large;
    }
    #home {
      font-size:x-large;
    }
    
  }
  
  @media screen and (max-width: 1000px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  
  .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  
  }
  
  
  /*
  @media screen and (max-width: 1400px) {
  .navbar a{
    font-size: smaller;
  }}*/
  @media screen and (max-width: 1400px) {
    .navbar a{
      height: 15px;
      
    }}
 
    
  

  
  
  /************ HOME PAGE ***********************/
  /* image (Logo. Full height) */
.landing {
    opacity: 30%;
    position: absolute;
    padding-top: 50px;
    background-image: url('images/lbplogolarge.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    width:100%;
    height: 100%;
  }


  

  .titlebanner {
    position: static;
    margin-top: 26%;
    margin-left: 53%;
    /* top: 100%;
    left: 50%;  */
    transform: translate(-50%,-50%);
    color: #fff;
    background-color: #88abc6;
    padding: 12px 24px;
    text-align: center;
    font-size: 24px;
    white-space: nowrap;
    letter-spacing: 10px;
    width: fit-content;
    /* overflow: hidden; */
}
@media screen and (max-width: 1000px) {
.titlebanner {
    position:absolute;
    margin-top: 50%;
    margin-left: 50%;
    /* font-size: 24px; */
    padding: 2%;

    
}

}

@media screen and (max-width: 600px) {
  .titlebanner {
      position:absolute;
      /* margin-top: 50%;
      margin-left: 50%; */
      font-size: 15px;
      padding: 2%;
      
  }
  
  }

/************* ABOUT US *******************/

.content {
  padding: 20px;
}

.row{
display: flex;
grid-template-columns: 1fr 1fr 1fr 1fr;
margin: 1%;
}


.column {
width: 100%;
display: block;
text-align: center;
background: #58595c3a;
border: 1px solid #fafaf791;
margin: 1%;
margin-bottom: 2%;
padding: 6%;
position: relative;
overflow: hidden;
}


.column h3,h4{
color: #58595c;}
@media screen and (max-width: 1400px) {
.column {
  width: auto;
  
}}
.overlay{
position: absolute;
bottom: 100%;
left: 0;
right: 0;
background-color: #88abc6;
overflow: hidden;
width: 100%;
height:0;
transition: .5s ease;
transition-delay: 0.5s;

}

@media screen and (max-width: 1400px) {
.overlay {
  
  overflow: auto;
}}


.overlay p{
position: absolute;
padding: 10%;
font-family: "arial", sans-serif;
font-size: larger;
text-align: left;
overflow: auto;
color:white;
margin-top: 6%;
line-height: 1.6;
}
@media screen and (max-width: 1000px){
.overlay p{
  padding-left: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 10%;
  font-size: 160%;
}}

@media screen and (max-width: 1000px){
.column h3,h4{
  
  font-size: 110%;
}}

.column img{
width: 200px;
height: 200px;
margin-bottom: 10%;

}
/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_slidetop*/
.column:hover .overlay{
bottom: 0;
height: 100%;
}

.column:hover{

box-shadow: 6px 6px 1px rgba(49, 49, 49, 0.226);}


@media screen and (max-width:1380px) {
  .row {
    display:block;
  }

   
}

/************** PROJECT *******************/
/* .content5 a:link {
  color: #88abc6;
  background-color: transparent;
  text-decoration: none;
}
.content5 a:visited {
  color: #88abc6;
  background-color: transparent;
  text-decoration: none;
}
.content5 a:hover {
  color: #88abc6;
  background-color: transparent;
  text-decoration: underline;
}
.content5 a:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
} */



.infotext{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0%;
  padding-right: 0%;
  /* background-color: #58595c0a; */
  width: 100%;

  
}
.infotext p{
  
  font-size: 18px;
  font-weight: 800;
  text-align: justify;
  color: #58595c;
}

.infobox{
  /* background-color: #58595c15; */

  width: 80%;
  margin-left: 10%;
  margin-top: 50px;
}

.content5 {
  margin-left:10%;
  margin-right:10%;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 12px;
  width: 77%;
  overflow: hidden;
  text-align: left;
  line-height: 150%;
}

.content5 h2 {
 text-align: left;
 font-size: 20px;
}

/* .content5 h1 {
      
  padding: 1%;
  text-align: center;
  width:100%;
  padding: 2%;
  margin-bottom: 5%;
} */

@media screen and (max-width:900px) {
  .content5 h1 {
      
    font-size: x-small;
    padding: 1%;
    text-align: center;
    width:100%;
    padding: 4%;
    margin-bottom: 10%;
  }
  }

.rowp {
  padding-left: 20%;
  padding-top: 30px;
  overflow:hidden;
  width: 80%;
}
/*.rowp {
  /* display: block;
  margin-left: 20%; 
  /* margin-right: auto; 
 positi
  width: 80%;
} */

.content2 {
  padding-left:10%;
  padding-right:10%;
  margin-top: 50px;
  margin-bottom: 100px;
  width: 80%;
  overflow: hidden;
  text-align: left;
  line-height: 150%;
}

/* .textleft h2{
    text-align: left;
    font-size: 20px;
  
}

.textleft2 h2{
  text-align: left;
  font-size: 20px;

} */


.textleft {
  /* background-color: #f0f0f07c; */
  background-color: #58595c09;
  float: left;
  width: 23%;
  padding: 2%;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 700px;
  color: #58595c;
  font-size: 16px;
  overflow: auto;
}

.textleft2 {
  /* background-color: #f0f0f07c; */
  background-color: #58595c09;
  float: left;
  width: 23%;
  padding: 2%;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 700px;
  color: #58595c;
  font-size: 16px;
  overflow: auto;
}

.imageimage {
  float: left;
  width: 70%;
  height: 500px;
}

.buttonsol {
  background-color: #88abc6;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  /* margin: 420px 2px; */
  /* margin-left: 20%; */
  cursor: pointer;
  /* display: grid; */
  margin-left: 60px;
  
}

.imageimagetest {
  width: 100%;
  height: 500px;
}

.solutionsmap {
  background-color: #eeeeeeb9;
  width: 100%;
  height: 150px;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 200%;
}

/* .logosticker {
  position:absolute;
  left:10%;
  top:25%;
   } */
 
/****************** DISCOVERIES **************/

.textleft a:link {
  color: #88abc6;
  background-color: transparent;
  text-decoration: none;
}
.textleft a:visited {
  color: #88abc6;
  background-color: transparent;
  text-decoration: none;
}
.textleft a:hover {
  color: #88abc6;
  background-color: transparent;
  text-decoration: underline;
}
.textleft a:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}


/* .rowphoto {
 width: 30%;
 float: left;
 height: 500px;
 /* padding: 2% 1% 2% 1%; */
 /* margin-left: 70px;
 background-color: #58595c09;
 
} */

/* .rowphoto2 {
  width: 30%;
  float: right;
  height: 500px;
  /* margin-left: 70px; */


.content4 {
  width: 80%;
  padding-left:10%;
  padding-right:10%;
  overflow: hidden;
  
  /* background-color: #eeeeeeb9; */
}
.rowd {
  width: 31%;
  float: left;
  padding: 1%;
  background-color: #58595c09;
  height: 850px;
  line-height: 150%;
  /* /* overflow: scroll; */
  display: inline-block; 
  overflow: auto;
  color: #58595c;
  font-size: 15px;
  margin-bottom: 50px;
  

}

.rowd h2{
  text-align: center;
  font-size: 20px;

}
.p2 {
  padding-top: 6px;
  padding-left: 10%;
}

/* .rowd a:link {
  color: #88abc6;
  background-color: transparent;
  text-decoration: none;
}
.rowd a:visited {
  color: #88abc6;
  background-color: transparent;
  text-decoration: none;
}
.rowd a:hover {
  color: #88abc6;
  background-color: transparent;
  text-decoration: underline;
}
.rowd a:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
} */

/* https://www.w3schools.com/html/html_links_colors.asp */


/*************** FOOTER ******************/

.footer {
  position: relative;
  left: 0;
  bottom: 0;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #fff;
    background-color: #58595c;
    /* opacity: 0.80; */
    font-size: 14px;
    height: auto;
    width: 100%;
}


@media screen and (max-width: 1000px){
  body {
    padding-bottom: 20%;
}
  .footer{
    position: fixed;
    padding-bottom: 3%;
  }}

  @media screen and (min-width: 3000px){
    body {
      padding-bottom: 20%;
  }
    .footer{
      position: fixed;
    }}
    @media screen and (min-width: 3000px){
      body {
        padding-bottom: 20%;
    }
      .footer{
        position: fixed;
      }}


.footer p{
  padding: 2%;

}


.footer a{
  color: white;
  text-decoration: none;

}

.logo1 {
position:absolute;
right:5%;
top:15%}


.logo2 {
  position:absolute;
  left:5%;
  top:25%;
   }

   @media screen and (max-width: 600px){
    .logo1 {
      display: none;}
      
      
      .logo2 {
        display: none;
         }}
   
/* icons only */
.socialmedia {
  color: white;
  float: right;
  font: normal normal normal 76px/1 FontAwesome;

} 



/********** CONTACT US ************/

.content3{
padding: 2px;
background-color: #88abc6;
margin-left: 21%;
  margin-right: 24%;
  margin-top: 2%;
  margin-bottom: 0%;
}

.content3 h4{
  padding-bottom: 4px;
  padding-top: 4px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: large;
  color: white;
  line-height: 1.4;
  font-weight: normal;
  /* text-align: left; */
 }


 /* BUTTON INFO FOR START PAGE https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_start_page&stacked=h*/
 .button {width: 300px}

 /* Style inputs, select elements and textareas */
 input[type=text], select, textarea{
   width: 100%;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
   resize: vertical;
 }
 
 /* Style the label to display next to the inputs */
 label {
   padding: 12px 12px 12px 0;
   display: inline-block;
 }
 
 /* Style the submit button */
 input[type=button] {
   background-color: #88abc6;
   color: white;
   padding: 12px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   float: none;
   width: 100px;
   display: block;
  margin-left: 50%;
  margin-right: 50%;
  }
 

 
 /* Style the container */
 .container {
   border-radius: 5px;
   background-color:white;
   padding-left: 20%;
    /*  width: 100%;*/
  padding-top:2% ;
   height: 100%;
   overflow: hidden;
 }
 
 /* Floating column for labels: 25% width */
 .col-25 {
   float: left;
   width: 10%;
   margin-top: 6px;
   padding: 5px;

 }
 
 /* Floating column for inputs: 75% width */
 .col-75 {
   float:left;
   width: 60%;
   margin-top: 6px;
 }
 
 @media screen and (max-width: 1408px) {
  .col-25 label{
    width: max-content;
    font-size: x-large;

      }
  .col-25 {
    float:none;

      }

  .container {
    padding-left: 0%;
    margin-left:30% ;
  }
  .col-75 input, select, textarea{
    font-size: x-large;
  
  }

  .col-75 select{
    font-size: x-large;
  
  }
  .col-75 select option{
    font-size: medium;
  
  }
  .rowcontact input[type=button]{
    padding: 2%;
    font-size: larger;
     margin-right: 20%;
     margin-left: 46%;
  }
  .content3{
    margin: 0px;
    height: 150px;
    overflow: auto;
  }

  .content3 h4{
    font-size: large;
    
  }

 }

 /* Clear floats after the columns */
 .rowcontent:after {
   content: "";
   display: table;
   clear: both;
 }
 
.contentform {
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 4%;
  height: 100px;
}

 /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
 @media screen and (max-width: 600px) {
   .col-25, .col-75, input[type=submit] {
     width: 100%;
     margin-top: 0;
   }

   
 }

/*********media adjust ************/


@media screen and (max-width: 600px) {
      .navbar, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  
  @media screen and (max-width: 600px) {
    /*.landing, .header {
    width: 100%;
    position: relative;
  }*/
}
@media screen and (min-width: 3000px) {
  .header img{
  width: 100%;
}
}


/** mobile devices **/
@media only screen and (max-device-width: 1000px) {
    .navbar, input {
        padding: 2%;
    }
}
