

 body, h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    margin: 10px 0;
    color: #777;
}

h3 {
   text-align: center;
   font-size: 24px;
}

h2 {
  text-align: center;
  font-weight: 700;
}

body {
  margin:0;

}
/* About Us Job titles */
h4 {
  text-align: center;
  font-size: 16px;
  font-weight: bolder;
}

h1 {

  color: #fff;
  font-size: 18px;
  background-color: #88abc6;
  padding: 8px 12px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  letter-spacing: 4px; 
  overflow: hidden;
  width: fit-content;
  /* width:93%; */
  margin-bottom: 0px;

}


/************** HEADER **************/
.header {
  padding-top: 0px;
  opacity: 15%;
  /* padding-top: 36px; */
  overflow: hidden;
 
  
}

.headertext {
    position: absolute;
    top: 135px;
    left: 50%;
    transform: translate(-50%,-50%);
    align-items: center;
    color: #fff;
    background-color: #88abc6;
    padding: 12px 24px;
    text-align: center;
    font-size: 24px;
    white-space: nowrap;
    letter-spacing: 10px;
}
  


/************** NAVBAR **************/
 /*.navbar {
    position: fixed;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    display: block;
    top:0;
    left: 0;
    background-color:#58595c;
    
 }

 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:none;
    padding: 8px, 16px;
    
  }
  
  li {
    float: left;
  
 
  }

  li a {
    display: block;
    color: rgb(230, 230, 230);
    font-size: 15px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  } 
  
  .dropdown {
    float: left;
    overflow: hidden;
  } 

  /* Change the link color to #111 (black) on hover 
  li a:hover, .dropdown:hover .dropbtn, .dropbtn:focus{
    background-color: rgb(230, 227, 227);
    color: white;
    border: none;
    outline: none; 

  }

  .dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #88abc6;
  }

  .dropdown-content {
    display: none;
    position: fixed;
    background-color: #58595c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  
  .dropdown-content a {
    float: none;
    color:white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

 
  .show {
    display: block;
  } */

  .navbar {
    overflow: hidden;
    background-color: #58595c;
    margin-top: 0;
  }
  
  .navbar a {
    float: left;
    font-size: 15px;
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    
  
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 15px;  
    border: none;
    outline: none;
    color: white;
    padding: 15px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #88abc6;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #58595c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .fa-caret-down{
    margin-left: 3px;
  }
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #88abc6;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;
   }
    .topnav button{display: none;}
    .topnav a.icon {
      float: right;
      display: block;
      
    }
  
    
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  
  .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  
  }
  
  
  /*
  @media screen and (max-width: 1400px) {
  .navbar a{
    font-size: smaller;
  }}*/
  @media screen and (max-width: 1400px) {
    .navbar a{
      height: 15px;
      font-size:relative;
    }}
 
    
  

  
  
  /************ HOME PAGE ***********************/
  /* image (Logo. Full height) */
.landing {
    opacity: 30%;
    position: absolute;
    padding-top: 50px;
    
    
  }


  .titlebanner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    background-color: #88abc6;
    padding: 12px 24px;
    text-align: center;
    font-size: 24px;
    white-space: nowrap;
    letter-spacing: 10px;
}
  

/************* ABOUT US *******************/

.content {

    padding: 20px;
}

.row{
  width: 100%;
  height: 80px;

  
}

.row2 {
  height: 320px;

}

.row3 {
  height: 380px;

}

.column {
  width: 20%;
  float:left;
  text-align: center;
  padding-left: 2.5%; 
  padding-right: 2.5%;

}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/************** PROJECT *******************/
.content2 {

  padding-top: 50px;
  padding-left:10%;
  padding-right:10%;
  width: 80%;
  overflow: hidden;
  text-align: left;
  line-height: 150%;

}

.textleft {
  /* background-color: #f0f0f07c; */
  background-color: #58595c09;
  float: left;
  width: 23%;
  padding: 2%;
  height: 700px;
 
  
  
  color: black;
}


.imageimage {
  float: left;
  width: 70%;
  height: 500px;
}

.button {
  background-color: #88abc6;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 16px;
  /* margin: 420px 2px; */
  /* margin-left: 20%; */
  cursor: pointer;
  /* display: grid; */
  margin-left: 30%;
}

.imageimagetest {
  width: 100%;
  height: 500px;
 
  

}

.solutionsmap {
  background-color: #eeeeeeb9;
  width: 100%;
  height: 150px;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 200%;

  
  
 
}

/* .logosticker {
  position:absolute;
  left:10%;
  top:25%;
   } */



/*************** FOOTER ******************/

.footer {
  position: relative;
  left: 0;
  bottom: 0;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #fff;
    background-color: #58595c;
    /* opacity: 0.80; */
    font-size: 14px;
    height: auto;
    width: 100%;

   


}


.footer p{
  padding: 2%;

}


.footer a{
  color: white;
  text-decoration: none;

}

.logo1 {
position:absolute;
right:5%;
top:15%}


.logo2 {
  position:absolute;
  left:5%;
  top:25%;
   }


   
/* icons only */
.socialmedia {
  color: white;
  float: right;
  font: normal normal normal 76px/1 FontAwesome;

} 
/* .footer {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #fff;
    background-color: rgb(192, 192, 192);
    /* opacity: 0.80; */
    /* font-size: 14px;
    height: 100pt;
    width: 100%;


} */ 

/* .footertext {
    text-align: center;
    color: #fff;
    background-color: #000;
    opacity: 0.80;
    font-size: 16px;
    float:left;
    width: 20%;


} */
/* 
.logo1 {
    float: left;
    padding: 2px;
    width: 33%
 
    
    
}

.logo2 {
    float: left;
    padding-top: 2px;
    width: 33%;
} */

/* icons only */
/* .socialmedia {
    color: white;
    margin-top: 16px;
    margin-bottom: 16px;
    font: normal normal normal 26px/1 FontAwesome;
    
   

}  */

/* wraps around links and social media icons */
/* .socialmedia3 {
    float: left;
    width: 33%;

}  */
/* .hoverfooter a:hover {
    color: #fff;
    background-color: #000;
  
} */


/********** CONTACT US ************/

.content3{
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: left;

}

.infotext{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25%;
  padding-right: 22%;
  
}

.infobox{
  /* background-color: #58595c15; */

  width: 80%;
  margin-left: 10%;
  margin-top: 50px;

}

 /* BUTTON INFO FOR START PAGE https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_start_page&stacked=h*/
 .button {width: 300px}

 /* Style inputs, select elements and textareas */
 input[type=text], select, textarea{
   width: 100%;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
   resize: vertical;
 }
 
 /* Style the label to display next to the inputs */
 label {
   padding: 12px 12px 12px 0;
   display: inline-block;
 }
 
 /* Style the submit button */
/*  To center it?
  display: block;
  margin-left: auto;
  margin-right: auto;
    or just
  margin: auto;*/
 input[type=button] {
   background-color: #88abc6;
   color: white;
   padding: 12px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   float: none;
   width: 100px;
   display: block;
  margin-left: auto;
  margin-right: auto;
   
 }
 

 
 /* Style the container */
 .container {
   border-radius: 5px;
   background-color:white;
   padding-left: 200px;
  
   width: 100%;
   height: 100%;
   overflow: hidden;
   

   
 }
 
 /* Floating column for labels: 25% width */
 .col-25 {
   float: left;
   width: 10%;
   margin-top: 6px;
   padding: 5px;
 }
 
 /* Floating column for inputs: 75% width */
 .col-75 {
   float:left;
   width: 60%;
   margin-top: 6px;
 }
 
 /* Clear floats after the columns */
 .row:after {
   content: "";
   display: table;
   clear: both;
 }
 
.contentform {
  text-align: center;
  padding: 20px;
  height: 100px;
}

 /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
 @media screen and (max-width: 600px) {
   .col-25, .col-75, input[type=submit] {
     width: 100%;
     margin-top: 0;
   }
 }

/*********media adjust ************/


@media screen and (max-width: 600px) {
      .navbar, .titlebanner, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  
  @media screen and (max-width: 600px) {
    .landing, .header {
    width: 100%;
    position: relative;
  }
}



/** mobile devices **/
@media only screen and (max-device-width: 480px) {
    .landing, .navbar, .titlebanner, input {
        width: 400px;
    }
}
