body {
    background-color: lightpink;
  }

  /* header */
  .header {
    background-color: palevioletred;
    text-align: center;
    padding: 20px;
  }
  h1 {
    color: black;
    margin-left: 20px;
  }

  /* nav bar */
  nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  /* footer */
  .footer {
    background-color: papayawhip;
    text-align: center;
    padding: 10px;
  }

  /* BUTTON INFO FOR START PAGE https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_start_page&stacked=h*/
  .button {width: 300px}